html {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#app {
	#title-banner {
		position: relative;

		img {
			width: 100%;
		}

		.title {
			width: fit-content;
			color: white;
			margin: 0 auto;
			margin-top: 2%;
			margin-bottom: 4%;
			font-size: 30px;
		}
	}

	.sub-title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 2%;
	}

	#motivation {
		margin-bottom: 10%;
		.text-image-container {
			display: flex;
			justify-content: space-evenly;

			img {
				height: 300px;
				width: 450px;
			}

			.text-section {
				width: 40%;

				p {
					line-height: 1.5em;
					text-align: justify;
				}
			}
		}
	}

	#experiment {
		p {
			line-height: 1.5em;
		}
		#icons-container {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			margin-top: 5%;

			.icon {
				width: fit-content;
				text-align: center;
				.image-container {
					box-sizing: border-box;
					background-color: white;
					width: fit-content;
					border-radius: 100%;
					padding: 30px;
					margin: 0 auto;

					img {
						height: 145px;
						width: 145px;
					}
				}
			}
		}
	}

	.container {
		width: 80%;
		margin: 0 auto;
	}
}
